S3method(evaluateProbClass,uniCont)
S3method(evaluateProbClass,uniContValidation)
S3method(mcGet,uniCont)
S3method(mcGet,uniContValidation)
S3method(summarizeValidation,uniCont)
export(checkCalibration_uniCont)
export(computeUniContScore)
export(uniCont)
export(uniContValidation)
